rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function allowedEmail() {
      return signedIn();
      // return signedIn() && request.auth.token.email.matches('.*@example\.edu$');
    }

    // Post images uploaded by the author
    // Paths used in code:
    // - posts/tutor/{uid}/{postId}/{filename}
    // - posts/qa/{uid}/{postId}/{filename}
    match /posts/{postType}/{uid}/{postId}/{filename} {
      allow read: if allowedEmail();
      allow write: if allowedEmail() && request.auth.uid == uid;
    }
  }
}
